<?xml version="1.0"?>
<!--
/**
 * Checkout optimization module registration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codazon_CheckoutOptimization" setup_version="1.0.0">
        <sequence>
            <module name="Mageplaza_SocialLogin"/>
            <module name="Codazon_ThemeLayoutPro"/>
        </sequence>
    </module>
</config>
