<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="telr_telrpayments" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Telr Payments</label>
                <comment>
                    <![CDATA[<a href="https://telr.com/signup.php" target="_blank">Click here to sign up for a Telr account!</a>]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ivp_framed" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>IFrame Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ivp_seamless" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Seamless Mode in Iframe</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="telr_lang" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Language</label>
                    <source_model>Telr\TelrPayments\Model\Config\Language</source_model>
                </field>
                <field id="telr_txn_type" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Transaction Type</label>
                    <source_model>Telr\TelrPayments\Model\Config\TxnType</source_model>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                </field>
                <field id="auth_key" translate="label" type="obscure" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Authentication Key</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>This value must match the value configured in the hosted payment page V2 settings</comment>
                </field>
                <field id="remote_api_auth_key" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Remote API Authentication Key</label>
                    <validate>required-entry</validate>
                    <comment>Remote API Auth key is required to process the refunds from Magento with Credit Memo</comment>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="transaction_desc" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Transaction Description</label>
                    <validate>required-entry</validate>
                    <comment>This controls the transaction description shown within the hosted payment page</comment>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                    <comment>Leave empty to disable limit</comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
            <group id="telr_applepay" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Telr Apple Pay</label>
                <!-- <comment>
                    <![CDATA[<a href="https://telr.com/signup.php" target="_blank">Click here to sign up for a Telr account!</a>]]>
                </comment> -->
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="store_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="remote_api_auth_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Remote API Authentication Key</label>
                    <validate>required-entry</validate>
                    <comment>Remote API Auth key is required to process the refunds from Magento with Credit Memo</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field><!-- 
                <field id="order_status" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field> -->
                <field id="key_pem" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="3"
                        showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key Pem File</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir>var/upload/telr/certificate_keys</upload_dir>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="cert_pem" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="4"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Certificate Pem File</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir>var/upload/telr/certificate_keys</upload_dir>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="key_password" translate="label" type="obscure" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Certificate Kay Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>This is the password you were asked to create in terminal when you extracted ApplePay.key.pem</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <!-- <field id="apple_supported_networks" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Apple Pay Supported Networks</label>
                    <source_model>Telr\TelrPayments\Model\Config\ApplePayNetworks</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field> -->
                <field id="apple_merchant_id" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant Identifier Registered on Apple Pay Account</label>
                    <validate>required-entry no-whitespace validate-length minimum-length-1 maximum-length-50</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="apple_domain_name" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Domain Name Registered on Apple Pay Account</label>
                    <validate>required-entry no-whitespace validate-length minimum-length-1 maximum-length-50</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="apple_display_name" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display Name on Apple Pay</label>
                    <validate>required-entry validate-length minimum-length-1 maximum-length-50</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
