<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_telr_telrpayments">
        <observer name="telrpayment_payment_data_assign" instance="Telr\TelrPayments\Observer\PaymentAdditionalDataAssignObserver" />
    </event>
</config>